JWT_SECRET=replace-with-a-long-random-secret
POSTGRES_URL=postgres://eventhub:eventhub@eventhub-postgres:5432/eventhub
MONGO_URL=mongodb://eventhub-mongo:27017/eventhub
REDIS_URL=redis://eventhub-redis:6379
API_PROXY_TARGET=http://eventhub-api:3000